#errorHeading{
	font-size: large;
	font-style: italic;
	font-weight: bold;
	color: red;
	padding-left: 140px;
	margin-top: 15px;
	margin-bottom: 20px;
}

#errorMessage{
	padding-left: 140px;
	font-style: italic
}

#errorImage{
	display: block;
	float: left;
}

#errorSection{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
