h1{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #AAA;
}

header{
	margin-top: 20px;
	border: thin black solid;
	border-radius: 10px 10px 10px 0px;
	overflow: hidden;
	background-color: dodgerblue;
	box-shadow: 5px 5px 15px dimgray;
}

nav{
	margin-top: -1px;
	margin-bottom: 5px;
	padding: 8px 0px 8px 0px;
	border: thin solid black;
	border-radius: 0px 0px 8px 8px;
	background-color: #7AC2FF;
	overflow: hidden;
	display: inline-block;
	box-shadow: 5px 5px 15px dimgray;
}

nav a{
	font-weight: bold;
	color: black;
}

nav a:hover{
	text-decoration: none;
}

footer{
	border: thin #444 solid;
	border-radius: 7px;
	overflow:hidden;
	background-color: white;
	padding: 5px;
	color: #444;
	font-size: small;
	margin-bottom: 10px;
}

h1{
	margin-top: 5px;
	font-size: x-large;
}

.primaryNavItem{
	padding: 8px;
	border-right: thin solid black;
}

.secondaryNavItem{
	padding: 8px;
}

#secondaryNavBG{
	padding: 8px 0px 8px 0px;
	background-color: lightgreen;
}

nav a:hover{
	background-color: rgba(0,0,0,0.15);
}

#headerimg{
	width: 500px;
	height: 100px;
	background-image: url("Heading.png");
	background-repeat: no-repeat;
	display:inline-block;
}

#alignmentContainer{
	width: 90%;
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1px;
}

#pageBorder{
	background-color: white;
	overflow: hidden;
	border-left: thin #444 solid;
	border-right: thin #444 solid;
	border-bottom: thin #444 solid;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-bottom: 10px;
}

#contentContainer{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#userpane{
	min-width: 150px;
	max-width: 300px;
	height: 40px;
	border-top: thin solid black;
	border-left: thin solid black;
	border-radius: 10px 0px 0px 0px;
	background-color: rgba(255,255,255,0.4);
	overflow: hidden;
	padding: 10px;
	display:inline-block;
	float: right;
	margin-right: -1px;
	margin-bottom: -1px;
	margin-top: 45px;
}

#welcomeText{
	font-size: large;
	height: 20px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#userOptions a{
	font-weight: normal;
	font-size: small;
	color: black;
}

#breadcrumbs {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: small;
}

#LegalFooter{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: small;
	text-align: center;
}

#Copyright{
	display: inline-block;
	margin-left: 10px;
	margin-top: 3px;
	font-size: small;
}

#MapProvider{
	float:right;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
	font-size: small;
}

#MapProvider img{
	vertical-align: bottom;
}

.messagebg{
	margin-top: 10px;
	margin-bottom: 10px;
	border: thin solid dimgray;
	border-radius: 5px;
	
	padding: 7px;
	font-size: small;
	font-style: oblique;
	color: #222;
}

.HighPriority{
	background-color: lightpink;
}

.MediumPriority{
	background-color: #FCFC44;
}

.LowPriority{
	background-color: #DDD;
}

.hintmessage{
	background-image: url("/assets/messageIcons/hint.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.warnmessage{
	background-image: url("/assets/messageIcons/warn.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.strongwarnmessage{
	background-image: url("/assets/messageIcons/strongwarn.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.flagmessage{
	background-image: url("/assets/flag.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.messagebg h1{
	font-size: large;
	font-weight: normal;
	display: block;
	margin: 0px 0px 5px 0px;
}

a{
	text-decoration: none;
	color: dodgerblue;
}


a:hover{
	text-decoration: underline;
}
