#editForm{
	border: thin solid black;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	width: 500px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#editFormHeader{
	background-color: dodgerblue;
	border-bottom: thin solid black;
	padding: 10px;
	font-weight:bold;
}

#editFormContent{
	padding: 10px;
}

#editFormContent a{
	font-size: small;
}

.passwordError{
	font-weight: bold;
	font-style: italic;
	color: red;
	font-size: small;
}

table{
	margin-left: 5px;
	margin-right: 5px;
	width: 95%;
}

.textarea{
	width: 100%;
}