h1{
	display: inline;
}

#listingHeader{
	margin-bottom: 0px;
	padding: 0px;
}

#listingProperties{
	float: right;
	font-size: small;
	margin-top:17px;
	margin-bottom: 0px;
}

#listing{
	overflow: hidden;
}

#listingContent{
	margin-right: 320px;
	text-align: justify;
}

#bedbathcar{
	margin: 0px;
	font-size: small;
}

#bedbathcar img{
	vertical-align: middle;
}

.contentItem{
	overflow: hidden;
}

.contentTitle{
	font-weight: bold;
	color: dodgerblue;
}

.contentInfo{
	display: block;
	margin-left: 35px;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 0px;
}

.contentInfo ul{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 20px;
}

/*POI table*/
.contentInfo table{
	width: 100%;
	border: thin solid dodgerblue;
	border-collapse: collapse;
}

.contentInfo th{
	background-color: dodgerblue;
	border: thin solid dodgerblue;
	color: white;
}

.contentInfo td{
	border: thin solid dodgerblue;
}

.contentInfo tr:nth-of-type(odd){
	background-color: rgba(122,194,255,0.5);
}

.poi_timeCol{
	width: 100px;
}

.contentSubTitle{
	font-weight:bold;
}

.contentSubInfo{
	margin-left: 40px;
	margin-top: 3px;
	margin-bottom: 5px;
}

/*Owner Options panel*/
#ownerOptions{
	border: thin solid black;
	border-radius: 7px;
	overflow: hidden;
	height: 130px;
	background-color: #FFFF77;
	margin-bottom: 10px;
}

#ownerOptionsTitle{
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-shadow: 1px 1px black;
	padding: 5px;
	border-bottom: thin solid black;
}

#ownerOptionsSub{
	font-size: small;
	font-style: oblique;
}

/*Traffic Light*/
#trafficLight{
	background-color: rgba(0,0,0,0.6);
	border-left: thin solid black;
	width: 35px;
	padding: 2px;
	float:right;
}

.trafficLight{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	overflow: hidden;
	margin: 2px;
}

.trafficLightOverlay_off{
	width: 30px;
	height: 30px;
	background-color: rgba(0,0,0,0.9);
}

.trafficLightOverlay_on{
	width: 30px;
	height: 30px;
}

#trafficLight_red{
	background-color: red;
}

#trafficLight_orange{
	background-color: orange;
}

#trafficLight_green{
	background-color: green;
}


/*Sidebar*/
#listingSidebar{
	float:right;
	width: 300px;
}

.sidebarPanel{
	border: thin solid black;
	border-radius: 7px;
	background-color: #7AC2FF; 
	padding: 10px;
	margin-top: 5px;
	overflow: hidden;
}

#contactDetails{
	font-size: small;
}

/*Photos*/
#mainPhoto{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: thin solid black;
	width: 250px;
	height: 150px;
	overflow: hidden;
}

#otherPhotosPanel{
	height: 50px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;	
}

.otherPhoto{
	display:inline-block;
	margin: 2px;
	height: 40px;
	width: 67px;
	border: thin solid black;
	overflow:hidden;
}

/*Map*/
#map{
	margin-top: 5px;
}

/*Flag*/
#flag{
	margin-top: 5px;
	text-align:right;
	font-weight: bold;
	font-size: small;
	margin-right: 10px;
}

#flag a{
	color: darkred;
}

#flag img{
	vertical-align: bottom;
}

/*Listing Footer & View Counter*/
#listingFooter{
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: x-small;
}

#viewCounter{
	font: monospace;
	font-weight: 900;
	font-size: large;
}

/*Watchlist Button*/
.watchlistButton{
	display: inline-block;
	border: thin solid #444;
	border-radius: 5px;
	padding: 5px 5px 5px 25px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: smaller;
	width: 65px;
}

.wlAdd{
	background-image: url("/assets/watch.png");
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: lightblue;
	color: black;
	text-shadow: 0px 0px 2px white;
}

.wlRemove{
	background-image: url("/assets/watching.png");
	background-repeat: no-repeat;
	background-position: 5px center;
	background-color: green;
	color: white;
	text-shadow: 0px 0px 2px black;
}

.watchlistButton:hover{
	text-decoration: none;
}

.wlAdd:hover{
	background-color: green;
	color: white;
	text-shadow: 0px 0px 2px black;
	text-align: center;
}

.wlAdd:before{
	content:"Watchlist";
}

.wlAdd:hover:before{
	content:"Add";
}

.wlRemove:hover{
	background-color: #FF2511;
}

.wlRemove:hover:before{
	content:"Remove";
}

.wlRemove:before{
	content:"Watching";
}

/*Listing Status*/
.listingStatus{
	font-weight: bold;
}

.pending{
	color: goldenrod;
}

.closed{
	color: red;
}

.open{
	color: green;
}

.pending:before{
	content: "Pending";	
}

.closed:before{
	content: "Closed";	
}

.open:before{
	content: "Open";
}