#loginForm{
	border: thin solid black;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	width: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#loginFormHeader{
	background-color: dodgerblue;
	border-bottom: thin solid black;
	padding: 10px;
	font-weight:bold;
}

#loginFormContent{
	padding: 10px;
}

#loginFormContent a{
	font-size: small;
}

#cookieMessage{
	text-align: center; 
	font-size: small;
	margin-top: 10px;
	margin-bottom: 10px;
}
