h2{
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
}

select{
	width: 150px;
}

#curtain{
	position: absolute;
	top: 0px; left: 0px; width: 100%; height: 100%;
	background-color: rgba(0,0,0,0.8);
	visibility: hidden;
}

#dialog{
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	margin: auto;
	height: 150px;
	width: 400px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 5px 5px 15px black;
	padding: 10px;
}

#dialogIcon{
	margin: 10px;
	float: left;
}

#dialogTitle{
	margin: 20px 10px 10px 10px;
	text-align: center;
	font-weight:bold;
}

#dialogMessage{
	margin: 20px 10px 10px 10px;
	text-align: center;
	font-size: small;
	height: 55px;
}

#dialogButtons{
	text-align: right;
	bottom: 0px;
}
