#registerForm{
	border: thin solid black;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	width: 500px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

#registerFormHeader{
	background-color: dodgerblue;
	border-bottom: thin solid black;
	padding: 10px;
	font-weight:bold;
}

#registerFormContent{
	padding: 10px;
}

#submitButton{
	text-align: center;
}

#legalNote{
	font-size: small;
	text-align: center;
	margin-bottom: 10px;
}

.errormsg{
	font-weight: bold;
	font-style: italic;
	color: red;
	text-align: center;
	font-size: small;
}